/*body {
	text-align: center;
}*/

.greenish {
	background-color: #8ed18e;
}

.blueish {
	background-color: #6ea2a2;
}

.redish {
	background-color: #ffadad;
}

.brownish {
	background-color: #ffd2ad;
}

body {
    text-align: center;
}